@import '../../../commons/commons';

.dvg-home {
	transition: all 1s;

	&.is-expanded {
		.dvg-home__sidebar {
			width: 350px;

			@include bp(xs) {
				display: none;
			}
		}
	}

	&:not(.is-expanded) {
		.dvg-home__content {
			margin-left: 0;
			padding: 0 20em;
		}
	}

	&__sidebar {
		width: 0;
	}

	&__content {
		height: 100vh;
		margin-left: 350px;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		padding: 0 10em;

		z-index: 20;
		cursor: pointer;
		overflow: auto;

		@include bp(xs) {
			margin-left: 0;
			padding: 2em 5em;
		}
	}
}
